html, body {
    margin: 0;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #bdbdbd #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 0 none #ffffff;
}

a {
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
}

a:hover {
    transition: all 0.5s;
    color: black;
}

a:hover g {
    transition: all 0.5s;
    fill: black;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}