html, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transition: all 0.5s;
    color: black;
}

a:hover g {
    transition: all 0.5s;
    fill: black;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}